PORT=4000
CLIENT_URL=http://localhost:5173

DB_NAME=pulsenet
DB_MASTER_HOST=localhost
DB_MASTER_PORT=3306
DB_MASTER_USER=root
DB_MASTER_PASSWORD=change_me
DB_MASTER_NAME=pulsenet

DB_SLAVE1_HOST=localhost
DB_SLAVE1_PORT=3307
DB_SLAVE1_USER=root
DB_SLAVE1_PASSWORD=change_me
DB_SLAVE1_NAME=pulsenet

DB_SLAVE2_HOST=localhost
DB_SLAVE2_PORT=3308
DB_SLAVE2_USER=root
DB_SLAVE2_PASSWORD=change_me
DB_SLAVE2_NAME=pulsenet

JWT_SECRET=replace_with_a_long_random_secret
SALT_ROUNDS=10
HEALTH_CHECK_INTERVAL=10000
